* {
 box-sizing: border-box;
 padding: 0;
 outline: none;
}

body {
 overflow: hidden;
}

input[type=radio]:hover {
 cursor: pointer;
}

.loose {
 background-color: #EAE214;
}

.strict {
 background-color: #1DD85D;
}

.floating {
    margin-top: 10px;
    max-height: 45vh;
    background-color: rgba(254, 243, 199);
    overflow-y: auto;
    text-align: center;
    padding: 5px;
    text-justify: distribute;
}

.fader {
    opacity: 0;
    pointer-events: none;
}